name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Validate HTML
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: ./
          css: true
          extra: --ignore-re 'Attribute "x-.*" not allowed' 'Attribute "@.*" not allowed' 'Attribute ":.*" not allowed' 'Using the "meta" element to specify' 'Element "script" must not have attribute "async"'